---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "variables";
@import "grayscale";

p.intro-txt {
  font-weight: bold;
  font-size: 32px;
}

p.intro-txt .sub-intro-text {
  font-weight: normal;
  border-top: 1px solid #111;
  font-size: 18px;
  font-style: italic;
  padding-top: 10px;
}

.white-overlay-box{
  max-width: 370px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: auto;
  margin-right: auto;
}

.bibliography li {
  text-align: left;
  margin-bottom: 1em;
}

.popover-content{
  // font-family: monospace;
  font-size: 12px;
  white-space: pre-wrap;
}

.project-list{
  text-align: left;
}

.reading-list ul, .flat-list ul{
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;;
}

.flat-list ol{
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.reading-list h5{
  text-align: left;
  margin-bottom: 2px;
  padding-bottom: 3px;
  border-bottom: 1px solid silver;

}

// .reading-list ul li:before {
//   content: "\2610";
//   margin-right:5px;
// }

.reading-list ul li, .flat-list ul li, .flat-list ol li{
  margin: 1em 0;
}

.text-align-left{
  text-align: left;
}

.text-align-left ul{
  text-align: left;
}

#reading-list {
  padding-top: 0px;
  margin-top: 50px;
}

.post-list {
  text-transform: none;
}
